# Python / Environment
__pycache__/
*.py[cod]
*$py.class
*.pyd
.venv/
venv/
env/
.env

# System Files
.DS_Store
Thumbs.db
Desktop.ini

# IDEs / Editor
.vscode/
.idea/

# Forensic Evidence / Uploads (Safety Net)
# Never upload real target files to standard repositories.
*.jpg
*.jpeg
*.png
*.webp
*.heic
*.heif
*.tiff

# EXCEPTIONS: Allow images in the .docs folder
!/.docs/*.png
!/.docs/*.jpg